

.itema{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
@media (min-with: 768px)
}
@media (min-with: 768px) {
	itema {
		background-color: blue;
	}	
	navbar {
		background-collor: red;
	}
}
.navbar{
display: flex;  
align-items: left;
}

