

.itema{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.itema{
display: flex;
width: 500px;
hight: 500px;
align-items: center;
}

.navbar{
display: flex;  
align-items: left;
}

