.navbar{
display: flex;  
align-items: left;
}

.ra{
 display: flex;
  width: 500px;
  hight: 200px;
 flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
background:plaatjes/taartc.png;
}

.bast{
 display: flex;
width: 150px;
 hight: 100px;
